/* line 1, ../sass/styles.scss */
.titulo {
  font-size: 4em;
  font-family: 'Bentham', serif;
  margin-top: 1em;
}

@media (min-width: 768px) {
  /* line 8, ../sass/styles.scss */
  .titulo {
    font-size: 10em;
    margin-top: 0;
  }

  /* line 12, ../sass/styles.scss */
  .busqueda {
    width: 40%;
  }
}
/* line 21, ../sass/styles.scss */
.no-display {
  display: none;
}

/* line 24, ../sass/styles.scss */
.busqueda {
  display: inline;
}

/* line 27, ../sass/styles.scss */
.sin-puntos {
  list-style-type: none;
}
